In [1]:
import pandas as pd

In [2]:
# read in coffee csv file
path = 'csv_files/merged_data_cleaned.csv'
df = pd.read_csv(path)
df.head()

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [3]:
df.columns

Index(['Species', 'Owner', 'Country.of.Origin', 'Farm.Name', 'Lot.Number',
       'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner', 'Harvest.Year',
       'Grading.Date', 'Owner.1', 'Variety', 'Processing.Method', 'Aroma',
       'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity',
       'Clean.Cup', 'Sweetness', 'Cupper.Points', 'Total.Cup.Points',
       'Moisture', 'Category.One.Defects', 'Quakers', 'Color',
       'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [ ]:
# df.to_csv("csv_files/merged_data_cleaned.csv", index=False)

In [4]:
df['Country.of.Origin'].unique()

array(['Ethiopia', 'Guatemala', 'Brazil', 'Peru', 'United States',
       'United States (Hawaii)', 'Indonesia', 'China', 'Costa Rica',
       'Mexico', 'Uganda', 'Honduras', 'Taiwan', 'Nicaragua',
       'Tanzania, United Republic Of', 'Kenya', 'Thailand', 'Colombia',
       'Panama', 'Papua New Guinea', 'El Salvador', 'Japan', 'Ecuador',
       'United States (Puerto Rico)', 'Haiti', 'Burundi', 'Vietnam',
       'Philippines', 'Rwanda', 'Malawi', 'Laos', 'Zambia', 'Myanmar',
       'Mauritius', 'Cote d?Ivoire', nan, 'India'], dtype=object)

In [5]:
# to get non-duplicated country names
country_list = df['Country.of.Origin'].to_list()



for i in range(0,len(country_list)):
    if country_list[i] == 'United States (Hawaii)':
        country_list[i] = 'United States of America'
    elif country_list[i] == 'United States (Puerto Rico)':
        country_list[i] = 'United States of America'
    elif country_list[i] == 'United States':
        country_list[i] = 'United States of America'
    elif country_list[i] == 'Tanzania, United Republic Of':
        country_list[i] = 'United Republic of Tanzania'
    elif country_list[i] =='Cote d?Ivoire':
        country_list[i] = "Ivory Coast"
    else:
        country_list[i] = country_list[i]


len(country_list)

1339

In [6]:
df['Country.of.Origin'] = country_list

In [7]:
country_list =  [ c for c in country_list if str(c) != 'nan']

In [8]:
country_list = list(set(country_list))

In [9]:
len(country_list)

34

In [10]:
# save the country list as a csv file
country_list_df = pd.DataFrame({'country':country_list})
country_list_df.to_csv("asset/country_list.csv",index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'asset/country_list.csv'

In [11]:
country_list_df

                        country
0                        Taiwan
1                      Colombia
2                         India
3                      Thailand
4                       Burundi
5      United States of America
6                       Ecuador
7                      Ethiopia
8                   Ivory Coast
9                         Japan
10                      Myanmar
11                       Uganda
12  United Republic of Tanzania
13             Papua New Guinea
14                    Guatemala
15                    Mauritius
16                  Philippines
17                       Mexico
18                       Brazil
19                       Panama
20                        Haiti
21                   Costa Rica
22                       Rwanda
23                         Peru
24                      Vietnam
25                        China
26                    Indonesia
27                  El Salvador
28                    Nicaragua
29                       Zambia
30                        Kenya
31                     Honduras
32                         Laos
33                       Malawi

In [12]:
# get total cup points for each country
new_df = df.groupby(['Species','Country.of.Origin']).agg({'Total.Cup.Points':'mean'})
new_df.columns = ['Avg_Cup_Points']
new_df = new_df.reset_index()

In [13]:
new_df.rename(columns={'Country.of.Origin':'Country_of_Origin'},inplace=True)

In [15]:
new_df.to_csv("csv_files/country_points.csv",index=False)

In [16]:
type(new_df['Avg_Cup_Points'][0])

numpy.float64

In [17]:
new_df['Avg_Cup_Points'].describe()

count    39.000000
mean     81.651825
std       2.398587
min      73.750000
25%      80.792000
50%      82.001333
75%      82.878750
max      85.750000
Name: Avg_Cup_Points, dtype: float64

In [18]:
df.columns

Index(['Species', 'Owner', 'Country.of.Origin', 'Farm.Name', 'Lot.Number',
       'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner', 'Harvest.Year',
       'Grading.Date', 'Owner.1', 'Variety', 'Processing.Method', 'Aroma',
       'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity',
       'Clean.Cup', 'Sweetness', 'Cupper.Points', 'Total.Cup.Points',
       'Moisture', 'Category.One.Defects', 'Quakers', 'Color',
       'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [19]:
# create tableData
tableData_df = df[['Species', 'Owner','Country.of.Origin','Aroma','Flavor','Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity','Clean.Cup', 'Sweetness', 'Cupper.Points', 'Total.Cup.Points']]

In [20]:
tableData_df.rename(columns={'Country.of.Origin':'Country of Origin','Clean.Cup':'Clean Cup','Cupper.Points':'Cupper Points','Total.Cup.Points':'Total Cup Points'},inplace=True)

In [21]:
tableData_df.head()

,Species,Owner,Country of Origin,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Total Cup Points
0,Arabica,metad plc,Ethiopia,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,90.58
1,Arabica,metad plc,Ethiopia,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,89.92
2,Arabica,grounds for health admin,Guatemala,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,89.75
3,Arabica,yidnekachew dabessa,Ethiopia,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,89.00
4,Arabica,metad plc,Ethiopia,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,88.83

In [22]:
tableData_df.to_csv('csv_filestableData.csv',index=False)

In [ ]:
ml_df = df[['Country.of.Origin','Acidity','Aftertaste','Aroma','Balance','Body','Clean.Cup','Cupper.Points','Flavor','Sweetness','Uniformity','Total.Cup.Points']]
ml_df.head()

In [ ]:
ml_df.columns

In [ ]:
ml_df.rename(columns={'Country.of.Origin':'Country of Origin','Clean.Cup':'Clean Cup','Cupper.Points':'Cupper Points','Total.Cup.Points':'Total Cup Points'},inplace=True)

In [ ]:
ml_df['Country of Origin'].unique()

In [ ]:
ml_df.to_csv('csv_files/ml_data.csv', index=False)